<ion-header>
  <ion-navbar>
    <ion-title>{{ item.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img *ngIf="item.hasOwnProperty('image')" src="data:image/jpg;base64,{{item.image}}"/>
    <img *ngIf="!item.hasOwnProperty('image')" src="data:image/jpg;base64,{{img_placeholder}}"/>
    <ion-card-content>
      <ion-card-title>
        {{ item.title }}
      </ion-card-title>
      <p>
        {{ item.description }}
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small (click)="vote(1)">
          <ion-icon name="ios-thumbs-up"></ion-icon>
          <div>{{ item.up_votes_account }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button color="danger" ion-button icon-start clear small (click)="vote(0)">
          <ion-icon name="ios-thumbs-down"></ion-icon>
          <div>{{ item.down_votes_account }}</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{ item.location }}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
