<ion-content padding>
  <h3 text-center>Login</h3>

  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label floating>User Name</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
    </ion-item>

    <ion-label *ngIf="hasError" style="text-align: center;color: red">{{ formError }}</ion-label>
    <button ion-button type="submit" block>Login</button>
  </form>
  <h1></h1>
  <button ion-button clear (click)="signup()">Register here</button>
</ion-content>
